<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Country</key>
		<string>全球</string>
		<key>Number</key>
		<string>+862160264000</string>
		<key>NumberType</key>
		<string>全球接入号</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>中国</string>
		<key>Number</key>
		<string>8008708686</string>
		<key>NumberType</key>
		<string>国内免费（中文语音）</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>中国</string>
		<key>Number</key>
		<string>4000628686</string>
		<key>NumberType</key>
		<string>本地付费（中文语音）</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>中国</string>
		<key>Number</key>
		<string>8008701122</string>
		<key>NumberType</key>
		<string>国内免费（英文语音）</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>中国</string>
		<key>Number</key>
		<string>4000011122</string>
		<key>NumberType</key>
		<string>本地付费（英文语音）</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>澳大利亚</string>
		<key>Number</key>
		<string>1800461923</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>法国</string>
		<key>Number</key>
		<string>800914334</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>德国</string>
		<key>Number</key>
		<string>8000827159</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>香港</string>
		<key>Number</key>
		<string>800964250</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>爱尔兰</string>
		<key>Number</key>
		<string>1800948667</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>美国加拿大</string>
		<key>Number</key>
		<string>18553939780</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>新加坡</string>
		<key>Number</key>
		<string>8001012842</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>澳门</string>
		<key>Number</key>
		<string>85362625247</string>
		<key>NumberType</key>
		<string>本地接入号</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>台湾</string>
		<key>Number</key>
		<string>801127456</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>日本</string>
		<key>Number</key>
		<string>531161350</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>韩国</string>
		<key>Number</key>
		<string>00798142072817</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>马来西亚</string>
		<key>Number</key>
		<string>1800816792</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>英国</string>
		<key>Number</key>
		<string>08007563389</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>泰国</string>
		<key>Number</key>
		<string>0018001562072817</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>加拿大</string>
		<key>Number</key>
		<string>18553227838</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>意大利</string>
		<key>Number</key>
		<string>800899003</string>
		<key>NumberType</key>
		<string>国际免费</string>
	</dict>
</array>
</plist>
