<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Country</key>
		<string>International</string>
		<key>Number</key>
		<string>+862160264000</string>
		<key>NumberType</key>
		<string>InternationalDirectDial</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>China</string>
		<key>Number</key>
		<string>8008708686</string>
		<key>NumberType</key>
		<string>DomesticTollFree(ChineseIVR)</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>China</string>
		<key>Number</key>
		<string>4000628686</string>
		<key>NumberType</key>
		<string>LocalToll(ChineseIVR)</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>China</string>
		<key>Number</key>
		<string>8008701122</string>
		<key>NumberType</key>
		<string>DomesticTollFree(EnglishIVR)</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>China</string>
		<key>Number</key>
		<string>4000011122</string>
		<key>NumberType</key>
		<string>LocalToll(EnglishIVR)</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Australia</string>
		<key>Number</key>
		<string>1800461923</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>France</string>
		<key>Number</key>
		<string>800914334</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Germany</string>
		<key>Number</key>
		<string>8000827159</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>HongKong</string>
		<key>Number</key>
		<string>800964250</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Ireland</string>
		<key>Number</key>
		<string>1800948667</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>UnitedStates/Canada</string>
		<key>Number</key>
		<string>18553939780</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Singapore</string>
		<key>Number</key>
		<string>8001012842</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Macao</string>
		<key>Number</key>
		<string>85362625247</string>
		<key>NumberType</key>
		<string>LocalConnect</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Number</key>
		<string>801127456</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Japan</string>
		<key>Number</key>
		<string>531161350</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>SouthKorea</string>
		<key>Number</key>
		<string>00798142072817</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Malaysia</string>
		<key>Number</key>
		<string>1800816792</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>UnitedKingdom</string>
		<key>Number</key>
		<string>08007563389</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Thailand</string>
		<key>Number</key>
		<string>0018001562072817</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Canada</string>
		<key>Number</key>
		<string>18553227838</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Italy</string>
		<key>Number</key>
		<string>800899003</string>
		<key>NumberType</key>
		<string>InternationalTollFreeService</string>
	</dict>
</array>
</plist>
